
body {
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
pre {
    background-color:#000000;
	  color: #0000FF;
    text-align: left;
    display: inline-block;
    font-size: 0.75vw;

}
a:link, a:visited {
    color: #00ff00;
    text-decoration: none
    }

    a:hover {
      color: transparent;
      text-shadow: #00ff00 0 0 8px;
      text-decoration: none;}
